h1{
    color: pink;
}
body{
    background-color: pink;
    background-image: url("https://media1.tenor.com/images/cc7e9bf874af63af8d4f578115e97be9/tenor.gif?itemid=3461428"); 
}
ul{
    color: pink;
}
h2{
    color: pink;
}